{% load i18n %}

{% block map-div %}
<div id="{{ map_id }}" class="map rounded"></div>
{% endblock %}

<style media="screen">
  {% block map-css %}
  #{{ map_id }} .aligned label { float: inherit; }
  #{{ map_id }} {
    height: {% if height %}{{ height }}{% else %}500px{% endif %};
    width: {% if width %}{{ width }}{% else %}100%{% endif %};
    position: relative;
    vertical-align: top;
    float: left; }
  {% endblock %}
</style>

<script type="text/javascript">
  {% block map-script %}

  {% block center-point %}
  var centerPoint = ol.proj.fromLonLat([
    {% block center-point-coordinates %}
      {{ longitude | stringformat:"3.8f" }},
      {{ latitude | stringformat:"3.8f" }}
    {% endblock %}
  ]);
  {% endblock %}

  var layers = []


  var base_layers = [];

  {% block base-layers %}
  base_layers.push(new ol.layer.Tile({
    source: new ol.source.XYZ({
      url: 'https://stamen-tiles-a.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png',
      attributions: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      attributionsCollapsible: false,
    }),
    title: "Stamen Terrain",
    type: "base",
    visible: false
  }));

  base_layers.push(new ol.layer.Tile({
    source: new ol.source.XYZ({
      url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
      attributions: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
      attributionsCollapsible: false,
    }),
    title: "ESRI World Imagery",
    type: "base",
    visible: false
  }));

  base_layers.push(new ol.layer.Tile({
    source: new ol.source.OSM(),
    title: "Open Street Map",
    type: 'base',
    visible: false
  }));

  base_layers.push(new ol.layer.Tile({
    source: new ol.source.XYZ({
      url: 'https://a.tile.opentopomap.org/{z}/{x}/{y}.png',
      attributions: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
      attributionsCollapsible: false,
    }),
    title: "Open Topo Map",
    type: "base",
    visible: true
  }));
  {% endblock %}

  layers.push(new ol.layer.Group({
    title: "{% trans 'Base Maps' %}",
    layers: base_layers,
  }));


  {% block initial-view %}
  var initView = new ol.View({
    center: centerPoint,
    zoom: {{ zoom | stringformat:"d" }}
  })
  {% endblock %}

  {% block map-setup %}
  {% endblock %}

  {% block map-controls %}
  var controls = ol.control.defaults({
    attribution: true,
    zoom: true,
  })
  {% endblock %}

  {% block map-create %}
  var map = new ol.Map({
    target: "{{ map_id }}",
    layers: layers,
    view: initView,
    controls: controls,
  });

  
  window.addEventListener('load', () => {
    $('#{{ map_id }}').data('map', map);
  }, false);
  {% endblock %}

  {% block map-end %}
  reload_map(map);
  {% endblock %}
  {% endblock %}
</script>
